
<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="index.html">
      <!-- <img src="images/logo.png" alt="Egen"> -->
      &nbsp;&nbsp;
      <span class="" style="font-size: x-large;font-weight: bolder;">AKodam Sofware Solution</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home</a>      <!-- href="index.html" -->
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="nav-about">About</a>      <!-- href="about.html" -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="nav-services">Services</a>      <!-- href="services.html" -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="nav-blog">Blog</a>      <!-- href="blog.html" -->
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="nav-portfolio">Portfolio</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="nav-team">Team</a>      <!-- href="team.html" -->
            <a class="dropdown-item" routerLink="nav-team-single">Team Details</a>      <!-- href="team-single.html" -->
            <a class="dropdown-item" routerLink="nav-career">Career</a>      <!-- href="career.html" -->
            <!-- <a class="dropdown-item" routerLink="nav-career-single">Career Details</a>      href="career-single.html" -->
            <a class="dropdown-item" routerLink="nav-blog-single">Blog Details</a>      <!-- href="blog-single.html" -->
            <a class="dropdown-item" routerLink="nav-pricing">Pricing</a>      <!-- href="pricing.html" -->
            <a class="dropdown-item" routerLink="nav-faqs">FAQ's</a>      <!-- href="faqs.html" -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="nav-contact">Contact</a>      <!-- href="contact.html" -->
        </li>
      </ul>
    </div>
  </nav>
</header>
