



<!-- Main Script -->
<!-- <script src="js/script.js"></script> -->

<!-- banner -->
<section class="banner bg-cover position-relative d-flex justify-content-center align-items-center" data-background="images/banner/banner2.jpg" style="background-image: url(&quot;images/banner/banner2.jpg&quot;);" >
  <!-- style="background-image: url(&quot;images/banner/banner2.jpg&quot;);"  -->
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1 text-white font-weight-bold font-primary">Creative Agency</h1>
      </div>
    </div>
  </div>
</section>
<!-- /banner -->
